body{
	margin:0;
	padding:0;
	height: 100%;
}
#particles-js{
	height: 100%;
	background:#E9EBEE;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;
}
li{
	list-style-type:none;
}
input{
	outline:none;
}
button{
	border:none;
}
body{
	background-color: #E9EBEE;
	font-family: 'Noto Sans', sans-serif;
}
.logo{
	position: absolute;
	margin:auto;
	animation: 1s logoLeft forwards;
	width: 500px;
	height:200px;
}
.logo img{
	margin:auto;
	height:70px;
	width:300px;
	object-fit: center;
}
form{
	top:200px;
	animation: 1s formRight forwards;
	position: absolute;
	margin:auto;
	width:500px;
	height:400px;
}
input[type="checkbox"]{
	height: 17px;
  	width: 17px; 
  	animation: 5s Opacity forwards;
}
#email,
#password{
	padding-left: 15px;
	border:none;
	box-shadow: 2.424px 4.373px 17px 0 rgba(0, 0, 0, 0.14);
	border-radius: 5px;
	height:50px;
	width:500px;
}
label[for=email],
label[for=password]{
	animation: 6s Opacity forwards;
	margin-top:5%;
	color:#A4A5A7;
	font-size:19px;
}
label[for=loggedIn]{
	animation: 6s Opacity forwards;
	margin-top:5%;
	color:#A4A5A7;
	font-size:15px;
}
#btn{
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 15px rgba(0,0,0,.4);
	width:250px;
	height: 50px;
	background-image:linear-gradient( to right, #00a65a 0%, #0086cd 16%, #873996 37%, #ec3824 62%, #f0812b 82%, #ffc90a 100%);
	color:white;
	line-height:40px;
	text-align: center;
	border-radius:5px;
	margin-top:20px;
	margin-left:125px;
}
#password:focus{
	box-shadow: 0 0 10px #2196F3;
}
#email:focus{
	box-shadow: 0 0 10px #2196F3;
}
@keyframes formRight{
	0%{
		opacity: 0;
		left:0;
	}
	100%{
		opacity: 1;
		left:50%;
		transform: translate(-50%);
	}
}
@keyframes logoLeft{
	0%{
		opacity:0;
		right:0;
	}
	100%{
		opacity:1;
		right:50%;
		transform: translate(50%);
	}
}
@keyframes Opacity{
	0%{
		opacity:0;
	}
	100%{
		opacity: 1;
	}
}




@media only screen and (max-width:500px){
	form{
		margin:0;
		width:100%;
	}
	#password,
	#email{
		animation: none;
		margin-left:10%;
		width:80%;
	}
	input[type="checkbox"]{
		margin-left:10%;
	}
	label[for=email],
    label[for=password]{
    	margin-left:10%;
    }
	#btn{
		margin-left:10%;
		width:80%;
	}
	#login{
		padding:0;
	}
}